#Load

In [4]:
from pathlib import Path
import pandas as pd
import urllib.request
import os


def load_housing_data():
  sold_file=Path("datasets/sold_melbourne.csv")
  if not sold_file.is_file():
    os.makedirs("datasets", exist_ok=True)
    url="https://raw.githubusercontent.com/mmercan/handson-ml3/refs/heads/main/data/housing/sold_melbourne.csv"
    urllib.request.urlretrieve(url,sold_file)
  return pd.read_csv(sold_file)


housing = load_housing_data()
housing.info()
housing.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105120 entries, 0 to 105119
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   latitude       105119 non-null  float64
 1   longitude      105119 non-null  float64
 2   streetAddress  105120 non-null  object
 3   suburb         105120 non-null  object
 4   postcode       105120 non-null  int64
 5   region         99878 non-null   object
 6   bedrooms       105120 non-null  int64
 7   bathrooms      105120 non-null  int64
 8   parkingSpaces  105120 non-null  int64
 9   propertyType   105120 non-null  object
 10  price          105120 non-null  object
 11  listingId      105120 non-null  int64
 12  title          105120 non-null  object
 13  dateSold       105120 non-null  object
 14  modifiedDate   105120 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 12.0+ MB

,latitude,longitude,streetAddress,suburb,postcode,region,bedrooms,bathrooms,parkingSpaces,propertyType,price,listingId,title,dateSold,modifiedDate
0,-38.276067,144.485488,6 Corymbia Circuit,Barwon Heads,3227,bellarine_peninsula,3,2,2,house,"$1,255,000",129714950,Luxurious Coastal Lifestyle Awaits,2018-11-06,2018-11-06T02:00:19Z
1,-38.238159,144.545576,9 La Bella Street,Ocean Grove,3226,bellarine_peninsula,4,2,2,house,"$725,000",129219294,Laid Back Family Living In An Idyllic Location,2018-11-06,2018-11-06T04:01:41Z
2,-37.638387,144.922701,26 Greensted Grove,Roxburgh Park,3064,melbourne___northern_region,4,2,2,house,"$670,000",129517974,Oversized & park-facing,2018-11-06,2018-11-06T02:37:57Z
3,-38.121844,144.332476,80 Calvert Street,Hamlyn Heights,3215,NaN,3,2,1,house,"$600,000",129640018,Cherished Family Home In Leafy Hamlyn Heights,2018-11-06,2018-11-06T02:00:19Z
4,-38.129071,144.323640,295 Church Street,Herne Hill,3218,bellarine_peninsula,3,1,2,house,"$520,000",129459426,Potential Plus,2018-11-06,2018-11-06T02:00:17Z
5,-38.661799,143.858154,42 Ridge Drive,Kennett River,3234,south_western_region,3,2,3,house,"$515,000",129671886,RELAXED COASTAL LIFESTYLE,2018-11-06,2018-11-06T02:00:19Z
6,-38.032635,144.383849,16 Yoorok Drive,Lara,3212,south_west_melbourne,3,1,1,house,"$460,000",129206754,"PERFECT INVESTMENT, PERFECT HOME!",2018-11-06,2018-11-06T06:12:30Z
7,-38.016903,145.347914,16 Casey Drive,Berwick,3806,south_east_melbourne,5,4,3,house,"$1,935,000",129531046,Living the High Life!,2018-11-05,2018-11-05T02:00:12Z
8,-38.468454,143.778366,110 Rowlands Road,Barwon Downs,3243,south_western_region,3,1,2,farmlet,"$1,500,000",7989582,Commanding views on two titles,2018-11-05,2018-11-06T02:00:04Z
9,-37.910070,145.124010,42 Glenbrook Avenue,Clayton,3168,south_east_melbourne,5,2,2,house,"$1,400,000",129472962,5 Bedroom House! Walk to Monash University!,2018-11-05,2018-11-05T02:00:12Z
10,-38.375782,144.786741,119 Canterbury Jetty Road,Rye,3941,mornington_peninsula,3,3,3,house,"$1,300,000",129457330,This house just keeps on going! Self-contained...,2018-11-05,2018-11-05T02:00:11Z
11,-37.762857,145.328807,5 Joel Place,Mooroolbark,3138,eastern_melbourne,5,2,2,house,"$990,000",129326010,Modern Family Luxury with Sweeping Views,2018-11-05,2018-11-06T01:31:20Z
12,-37.570555,144.732602,98 Yellowgum Boulevard,Sunbury,3429,western_region,4,3,5,house,"$920,000",129411842,MASTERPIECE OF LUXURY AND PERFECTION!,2018-11-05,2018-11-05T02:00:11Z
13,-37.773682,145.278877,6 Albury Court,Croydon North,3136,eastern_melbourne,4,2,2,house,"$885,000",129608274,Spacious & Immaculate Family Living,2018-11-05,2018-11-06T02:00:19Z
14,-37.742362,144.998731,37 Bruce Street,Preston,3072,melbourne___northern_region,3,1,1,house,"$855,000",129537922,Corner The Opportunity!!,2018-11-05,2018-11-05T02:00:12Z
15,-37.754385,144.754858,27 Torowatta Place,Burnside,3023,western_melbourne,5,3,2,house,"$855,000",129600034,Bring the family & turn this huge house into a...,2018-11-05,2018-11-05T02:00:13Z
16,-38.096390,145.940621,26 Platts Road,Buln Buln,3821,gippsland,4,2,6,house,"$835,000",128807198,Entertainers Delight with Country Charm,2018-11-05,2018-11-05T05:16:45Z
17,-37.750709,144.854209,17 Rim Cross Drive,Avondale Heights,3034,north_west_melbourne,3,2,1,house,"$735,000",129536222,AUCTION THIS SAT AT 11:00AM,2018-11-05,2018-11-06T02:00:18Z
18,-37.589969,144.892778,38 Montreal Circuit,Craigieburn,3064,melbourne___northern_region,5,2,2,house,"$730,000",128223926,SOLD BY TEAM SKAD !!,2018-11-05,2018-11-06T02:00:10Z
19,-37.589969,144.892778,38 Montreal CCT,Craigieburn,3064,melbourne___northern_region,5,2,2,house,"$730,000",128762870,SOLD BY TEAM SKAD !! MORE PROPERTIES WANTED!!,2018-11-05,2018-11-06T02:00:11Z
20,-37.532631,143.922752,5 Brooklyn Court,Brown Hill,3350,western_region,4,2,2,house,"$670,000",129371194,Architecturally Designed,2018-11-05,2018-11-06T02:00:16Z
21,-37.598755,144.905277,17 MILSWYN STREET,Craigieburn,3064,melbourne___northern_region,4,2,2,house,"$658,000",129065466,Your Upraised Lifestyle Residence!,2018-11-05,2018-11-06T02:00:13Z
22,-37.865044,144.674807,25 Eleanor Drive,Hoppers Crossing,3029,south_west_melbourne,3,2,3,house,"$650,545",129602386,Plenty of room for a growing family! Walking D...,2018-11-05,2018-11-06T02:00:19Z
23,-37.709896,144.800195,5 Ayers Court,Taylors Lakes,3038,north_west_melbourne,4,2,4,house,"$650,000",129239802,Another Successful Sale by Team Lucra 0400077333,2018-11-05,2018-11-06T10:31:05Z
24,-37.998221,145.267687,13 Simpson Court,Hallam,3803,south_east_melbourne,4,2,1,house,"$647,000",128794034,Court location with Amazing Potential!,2018-11-05,2018-11-05T02:00:09Z
25,-37.614995,145.001195,25 Overnewton Way,Wollert,3750,melbourne___northern_region,4,2,2,house,"$643,000",129502714,Four bedroom beauty in fantastic location,2018-11-05,2018-11-05T02:00:12Z
26,-37.963402,144.501211,32 River Street,Little River,3211,south_west_melbourne,4,3,3,house,"$627,500",107341453,"Fall in Love with Yesteryear""",2018-11-05,2018-11-06T02:00:05Z
27,-37.892088,144.774247,62 Signature Boulevard,Sanctuary Lakes,3030,NaN,3,2,2,house,"$625,000",129120710,"Elite Address, Enduring Elegance",2018-11-05,2018-11-06T02:00:14Z
28,-36.776381,144.373600,9 Homebush Drive,Junortoun,3551,northern_region,6,2,2,house,"$615,000",129624134,Family Paradise,2018-11-05,2018-11-06T02:00:19Z
29,-37.637748,144.929659,9 Reading Close,Roxburgh Park,3064,melbourne___northern_region,3,2,2,house,"$615,000",129526158,Still like new,2018-11-05,2018-11-05T02:00:12Z
30,-38.300273,145.179202,11 Stephen Street,Hastings,3915,mornington_peninsula,3,2,2,house,"$600,000",129207374,A Home Of Indulgence,2018-11-05,2018-11-05T02:00:10Z
31,-37.850600,144.990179,211/10 Porter St,Prahran,3181,inner_east_melbourne,2,2,1,apartment,"$600,000",128469110,Prahran--An irresistible blend of lifestyle an...,2018-11-05,2018-11-06T02:00:10Z
32,-37.617164,145.124433,13 Gallivant Drive,Doreen,3754,melbourne___northern_region,4,2,2,house,"$580,000",129471622,The Ideal Family Home,2018-11-05,2018-11-06T02:00:17Z
33,-37.590950,144.941205,85 Hamilton Street,Craigieburn,3064,melbourne___northern_region,0,0,0,residential land,"$577,500",202243294,PLANNING PERMIT APPROVED FOR 4 DWELLINGS....,2018-11-05,2018-11-05T02:00:15Z
34,NaN,NaN,12 Caitlin Street,Lara,3212,south_west_melbourne,4,2,2,house,"$577,000",128340206,BRAND NEW JUST UNPACK AND ENJOY!,2018-11-05,2018-11-06T02:00:10Z
35,-38.200807,144.348094,25 Michael Court,Grovedale,3216,bellarine_peninsula,3,2,2,house,"$570,000",129359770,Spacious Living That Feels As Fresh As A Daisy...,2018-11-05,2018-11-05T02:00:10Z
36,-38.186891,144.334619,20 Walpole Avenue,Belmont,3216,bellarine_peninsula,3,2,4,house,"$550,000",129530274,Fully Renovated Family Home,2018-11-05,2018-11-06T02:00:18Z
37,-38.075548,145.422473,6 Miller Street,Officer,3809,south_east_melbourne,3,2,2,house,"$550,000",129261322,MUST HAVE MILLER,2018-11-05,2018-11-06T02:00:15Z
38,-38.169552,144.391324,124 Wilsons Road,Newcomb,3219,bellarine_peninsula,3,1,2,house,"$525,000",129597282,Character and Charm in Central Newcomb,2018-11-05,2018-11-06T02:00:19Z
39,-38.082388,145.574743,39 Carney Street,Nar Nar Goon,3812,south_east_melbourne,3,1,2,house,"$520,000",129668766,Stylish home on a spacious 1521 sqm garden block,2018-11-05,2018-11-06T02:00:19Z
40,-37.892316,144.730369,4 Tanner Mews,Point Cook,3030,south_west_melbourne,3,1,2,house,"$497,000",127803434,SOLD BY EYAD KHUDRUJ 0414 711 647 & VIKKI HUTC...,2018-11-05,2018-11-06T02:00:09Z
41,-38.097482,145.298662,33 CORNWELL CRESCENT,Cranbourne East,3977,south_east_melbourne,3,2,2,house,"$493,500",129013278,TOP LOCATION COZY HOME SOUND INVESTMENT!,2018-11-05,2018-11-05T02:00:09Z
42,-37.834717,145.266195,5/37 Elmhurst Road,Bayswater North,3153,eastern_melbourne,2,1,1,unit,"$485,000",129496698,Beautifully Maintained & Brimming with Appeal,2018-11-05,2018-11-05T02:00:12Z
43,-36.768871,144.270542,216 King Street,Bendigo,3550,northern_region,3,2,2,house,"$482,000",129483154,A Royal Opportunity Between King and Queen Str...,2018-11-05,2018-11-05T02:00:12Z
44,-38.205719,144.323148,36 Dublin Drive,Grovedale,3216,bellarine_peninsula,3,2,2,house,"$480,000",129534874,Close to the Park,2018-11-05,2018-11-06T02:00:18Z
45,-36.810728,144.344509,5 Kent Place,Strathfieldsaye,3551,northern_region,4,2,2,house,"$472,000",127846722,"Lovely, light-filled home in family-friendly l...",2018-11-05,2018-11-06T02:00:09Z
46,-37.673264,144.928924,9 Nhill Court,Dallas,3047,melbourne___northern_region,3,1,2,house,"$466,000",129603590,SOLD by Ali Celik 0431494538,2018-11-05,2018-11-06T02:00:19Z
47,-37.644380,145.052145,1 St Leger Place,Epping,3076,melbourne___northern_region,3,1,2,house,"$455,000",129382062,Beautifully renovated home.,2018-11-05,2018-11-05T02:00:11Z
48,-36.184757,146.950839,15 Hemlock Court,Baranduda,3691,north_east_region,4,2,2,house,"$447,500",129075702,Superb Baranduda Family Home,2018-11-05,2018-11-06T02:00:13Z
49,-38.147351,145.942057,329 Normanby Street,Warragul,3820,gippsland,3,1,2,house,"$410,000",129531058,Start Living The Dream!,2018-11-05,2018-11-06T02:00:18Z

In [3]:
housing["region"].value_counts()

region
western_region                     26091
north_east_region                  15628
bellarine_peninsula                10480
melbourne_city___greater_region    10454
gippsland                          10429
melbourne___northern_region         5404
eastern_melbourne                   5317
inner_east_melbourne                5295
south_east_melbourne                5291
north_west_melbourne                5256
bayside                               63
mornington_peninsula                  57
south_west_melbourne                  36
northern_region                       32
western_melbourne                     27
south_western_region                  18
Name: count, dtype: int64

In [ ]:
housing["state"].value_counts()